<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-top-bar">
    <div class="cs-top-container">
      <div class="cs-top-contact">
        <a href="tel:{{ client.phoneForTel }}" class="cs-top-link">
          <img
            class="cs-link-icon"
            src="/assets/svgs/phone-stroke-white.svg"
            alt="logo"
            width="16"
            height="16"
            aria-hidden="true"
            decoding="async"
          />
          Call us {{ client.phoneFormatted }}
        </a>
      </div>
      <div class="cs-top-social">
        <a href="" class="cs-social-link">
          <img
            class="cs-social-icon"
            src="/assets/svgs/facebook.svg"
            alt="logo"
            width="16"
            height="16"
            aria-hidden="true"
            decoding="async"
            data-img2picture-ignore
          />
        </a>
        <a href="" class="cs-social-link">
          <img
            class="cs-social-icon"
            src="/assets/svgs/instagram.svg"
            alt="logo"
            width="16"
            height="16"
            aria-hidden="true"
            decoding="async"
            data-img2picture-ignore
          />
        </a>
      </div>
    </div>
  </div>
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="" class="cs-logo" aria-label="back to home">
      <img
        src="/assets/images/logo.png"
        alt="logo"
        width="197"
        height="43"
        aria-hidden="true"
        decoding="async"
        data-img2picture-ignore
      />
    </a>
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          {% set navPages = collections.all | eleventyNavigation %} {% for entry
          in navPages %} {% set hasChild = entry.children.length %}
          <li
            class="cs-li {% if hasChild %} cs-dropdown {% endif %}"
            {%
            if
            hasChild
            %}
            tabindex="0"
            {%
            endif
            %}
          >
            {% if hasChild %}
            <span
              class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}"
            >
              {{ entry.key }}
              <img
                class="cs-drop-icon"
                src="/assets/svgs/down.svg"
                alt="dropdown icon"
                width="15"
                height="15"
                decoding="async"
                aria-hidden="true"
                data-img2picture-ignore
              />
            </span>
            <ul class="cs-drop-ul">
              {% for child in entry.children %}
              <li class="cs-drop-li">
                <a href="{{ child.url }}" class="cs-li-link cs-drop-link"
                  >{{ child.key }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <a
              href="{{ entry.url }}"
              class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}"
            >
              {{ entry.key }}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <a href="/contact" class="cs-button-5">
      <span class="cs-button-text">Get a Free Estimate</span>
    </a>
  </div>
</header>
