/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1249 {
    padding: var(--sectionPadding);
    /* 200px - 300px - leaving extra space for the navigation */
    padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
    position: relative;
    z-index: 10;

    .cs-button-5 {
      color: var(--bodyTextColorWhite);
    }

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: calc(100 / 16 * 1rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: calc(846 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      max-width: calc(829 / 16 * 1rem);
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: #fff;
      position: relative;
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.95vw, 1.25rem);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      /* 464px - 622px */
      max-width: clamp(29rem, 60vw, 38.785rem);
      margin: 0 0 calc(40 / 16 * 1rem) 0;
      color: #fff;
    }

    .cs-card-group {
      /* changes to -150px at tablet */
      margin: 0 0 calc(-654 / 16 * 1rem) 0;
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.25rem);
    }

    .cs-item {
      width: 100%;
      text-align: left;
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #000;
      /* clips background image corners */
      overflow: hidden;
      box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      grid-column: span 12;
      grid-row: span 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      position: relative;
      z-index: 1;

      &:hover {
        .cs-item-background {
          img {
            opacity: 0.4;
            transform: scale(1.3);
          }
        }

        .cs-h3 {
          color: var(--primary);
        }
      }

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid var(--primary);
        /* prevents border from affecting height and width */
        box-sizing: border-box;
        /* prevents the mouse from interacting with it so when you hover hover the other elements inside the card it doesn't block your mouse from hovering over them */
        pointer-events: none;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }

    .cs-link {
      text-decoration: none;
      /* 125px - 236px */
      /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and widht of the link */
      padding: clamp(7.8125rem, 19vw, 14.75rem) calc(24 / 16 * 1rem)
        calc(24 / 16 * 1rem);
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      text-align: inherit;
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      color: var(--bodyTextColorWhite);
      transition: color 0.3s;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      max-width: calc(450 / 16 * 1rem);
      margin: 0;
      padding: 0;
      color: var(--bodyTextColorWhite);
    }

    .cs-item-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.24;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &:after {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: -moz-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
        opacity: 0.4;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
        transition: transform 0.6s, opacity 0.3s;
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        opacity: 0.84;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* makes the top of the image start at the top of the parent */
        object-position: top;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1249 {
    padding-bottom: 0;
    .cs-card-group {
      margin-bottom: calc(-150 / 16 * 1rem);
    }

    .cs-item {
      grid-column: span 4;
    }
  }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
  #hero-1249 {
    .cs-background {
      background: url("/assets/images/hero.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* creates the parallax effect */
      background-attachment: fixed;
      img {
        display: none;
      }
    }
  }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1659 {
    padding: var(--sectionPadding);
    padding-top: calc(654 / 16 * 1rem);
    overflow: hidden;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
      z-index: 1;
    }

    .cs-content {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    .cs-flex {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(570 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        /* 32px - 64px */
        margin-bottom: clamp(2rem, 5vw, 4rem);
      }
    }

    .cs-stat-group {
      width: 100%;
      max-width: calc(860 / 16 * 1rem);
      /* 24px - 44px top & bottom */
      /* 24px - 40px Left & right */
      padding: clamp(1.5rem, 4vw, 2.75rem) clamp(1.5rem, 4vw, 2.5rem);
      box-sizing: border-box;
      margin: 0;
      background-color: #f7f7f7;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      row-gap: calc(32 / 16 * 1rem);
      column-gap: calc(16 / 16 * 1rem);
      position: relative;
      z-index: 10;
    }

    .cs-stat {
      text-align: left;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      grid-column: span 6;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-number {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      line-height: 1.2em;
      font-weight: 900;
      margin: 0;
      color: var(--headerColor);
      display: block;
    }

    .cs-desc {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--primary);
      display: block;
    }

    .cs-picture {
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      min-height: calc(400 / 16 * 1rem);
      overflow: hidden;
      display: block;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1659 {
    padding-top: 15.625rem;
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;
      position: relative;
    }

    .cs-content {
      /* 40px - 60px */
      padding-bottom: clamp(2.5rem, 6vw, 3.75rem);
    }

    .cs-flex {
      width: 45%;
    }

    .cs-stat-group {
      width: 77vw;
    }

    .cs-stat {
      grid-column: span 3;
    }

    .cs-picture {
      height: 100%;
      width: 48vw;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-563 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-h3 {
      /* 25px - 31px */
      font-size: clamp(1.5625rem, 3vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: inherit;
      /* 16px - 20px */
      margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
      color: var(--headerColor);
    }

    .cs-ul {
      width: 100%;
      margin: 0 0 calc(32 / 16 * 1rem) 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
    }

    .cs-li {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 700;
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: calc(20 / 16 * 1rem);
    }

    .cs-icon {
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #000;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--secondary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture {
      /* changes at tablet */
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      /* changes to a clamp at tablet */
      height: calc(396 / 16 * 1rem);
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-563 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .cs-picture {
      width: 46vw;
      /* 415px - 528px */
      height: clamp(25.9375rem, 50vw, 33rem);
      /* sends it to the right in the 2nd position */
      order: 2;
    }

    .cs-content {
      width: 45%;
      max-width: calc(520 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1261 {
    padding: var(--sectionPadding);
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
    z-index: 1;

    .cs-topper {
      &::before {
        background-color: #fff;
      }
    }

    .cs-container {
      width: 100%;
      /* chnages to 1280px at desktop */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      margin: 0;
      color: var(--bodyTextColorWhite);
    }

    .cs-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
    }

    .cs-faq-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
    }

    .cs-faq-item {
      list-style: none;
      width: 100%;
      background-color: var(--secondaryLight);
      padding: 0;
      box-sizing: border-box;
      transition: border-bottom 0.3s;

      &.active {
        .cs-button {
          color: var(--primary);
          &:before {
            background-color: var(--primary);
            transform: rotate(315deg);
          }
          &:after {
            background-color: var(--primary);
            transform: rotate(-315deg);
          }
        }

        .cs-item-p {
          height: auto;
          margin-top: calc(12 / 16 * 1rem);
          /* 16px - 24px */
          padding-top: calc(12 / 16 * 1rem);
          padding-bottom: calc(24 / 16 * 1rem);
          color: var(--bodyTextColorWhite);
          opacity: 0.8;

          &:before {
            /* border top */
            content: "";
            height: 1px;
            background: var(--primary);
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: calc(24 / 16 * 1rem);
            right: calc(24 / 16 * 1rem);
          }
        }
      }
    }

    .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      width: 100%;
      padding: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0;
      border: none;
      background: transparent;
      color: var(--bodyTextColorWhite);
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
      position: relative;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        cursor: pointer;
      }

      &:before {
        /* left line */
        content: "";
        width: calc(8 / 16 * 1rem);
        height: calc(2 / 16 * 1rem);
        background-color: var(--bodyTextColorWhite);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 67%;
        right: calc(19 / 16 * 1rem);
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
      }

      &:after {
        /* right line */
        content: "";
        width: calc(8 / 16 * 1rem);
        height: calc(2 / 16 * 1rem);
        background-color: var(--bodyTextColorWhite);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 67%;
        right: calc(16 / 16 * 1rem);
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
      }
    }

    .cs-button-text {
      width: 90%;
      padding: 0;
      display: block;
    }

    .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 100%;
      max-width: calc(541 / 16 * 1rem);
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      position: relative;
      transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
    }

    .cs-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1261 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-wrapper {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1188 {
    padding: var(--sectionPadding);

    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* set text align to left if content needs to be left aligned */
      text-align: center;
    }

    .cs-card-group {
      /* changes to 1280px at desktop */
      max-width: calc(900 / 16 * 1rem);
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      justify-content: center;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-item {
      list-style: none;
      max-width: calc(368 / 16 * 1rem);
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      padding: calc(16 / 16 * 1rem);
      border: 1px solid var(--primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
    }

    .cs-picture {
      width: calc(80 / 16 * 1rem);
      height: calc(80 / 16 * 1rem);
      margin-bottom: calc(20 / 16 * 1rem);
      box-sizing: border-box;
      /* prevents border from affecting height and width */
      background-color: var(--primaryLight);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-icon {
      width: calc(50 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      margin-bottom: calc(8 / 16 * 1rem);
      color: var(--headerColor);
      text-align: center;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      text-align: center;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      font-weight: 700;
      min-width: calc(150 / 16 * 1rem);
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 calc(24 / 16 * 1rem);
      color: #fff;
      background-color: var(--primary);
      text-decoration: none;
      display: inline-block;
      position: relative;
      z-index: 1;
      text-align: center;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        border-radius: calc(4 / 16 * 1rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1188 {
    .cs-card-group {
      grid-template-columns: repeat(3, 1fr);
      gap: calc(20 / 16 * 1rem);
    }

    .cs-item {
      margin: 0;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1188 {
    .cs-card-group {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-item {
      max-width: none;
      padding: calc(32 / 16 * 1rem) calc(24 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-45 {
    padding: var(--sectionPadding);
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-image-group {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      margin: 0;
      position: relative;
      display: block;

      &:hover {
        .cs-hover-box {
          opacity: 1;
        }

        .cs-icon {
          /* return to original position */
          transform: rotateY(0);
        }

        .cs-h3 {
          opacity: 1;
          /* Return to original position */
          transform: translateY(0);
        }

        .cs-hover-box-text {
          opacity: 1;
          /* Return to original position */
          transform: translateY(0);
        }
      }
    }

    .cs-picture {
      margin: auto;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-45 {
    .cs-image-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
    }

    .cs-item {
      grid-column: span 6;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-45 {
    .cs-item {
      grid-column: span 3;
    }
  }
}

/*-- -------------------------- -->
<---          Review            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1714 {
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: calc(1312 / 16 * 1rem);
      margin: auto;
      padding: var(--sectionPadding);
      padding-bottom: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
    }

    .cs-content {
      /* set text align to center if content needs to be centrally aligned */
      text-align: left;
      width: 100%;
      /* -88px top -150px */
      margin-bottom: calc(clamp(5.5rem, 13vw, 9.375rem) * -1);
      /* 40px - 100px top & bottom */
      /* 16px - 80px left & right */
      padding: clamp(2.5rem, 9vw, 6.25rem) clamp(1rem, 7vw, 5rem);
      box-sizing: border-box;
      background-color: var(--secondary);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* aligns content to the left, set to center to centrally align */
      align-items: flex-start;
      /* 16px - 40px */
      gap: clamp(1rem, 4vw, 2.5rem);
      position: relative;
      z-index: 10;
    }

    .cs-icon {
      width: calc(80 / 16 * 1rem);
      height: auto;
    }

    .cs-quote {
      /* 20px - 31px */
      font-size: clamp(1.25rem, 2vw, 1.9375rem);
      font-weight: 700;
      line-height: 1.2em;
      max-width: calc(1000 / 16 * 1rem);
      margin: 0;
      color: #fff;
    }

    .cs-graphic {
      width: calc(233 / 16 * 1rem);
      height: auto;
      position: absolute;
      right: calc(-16 / 16 * 1rem);
      bottom: calc(-70 / 16 * 1rem);
      z-index: -1;
    }

    .cs-background {
      width: 100%;
      /* 340px - 620px */
      height: clamp(21.25rem, 47vw, 38.75rem);
      display: block;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1714 {
    .cs-content {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-697 {
    padding: var(--sectionPadding);
    background-color: var(--secondary);
    position: relative;
    z-index: 1;

    .cs-button-5 {
      color: var(--bodyTextColorWhite);
    }

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: var(--bodyTextColorWhite);
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--secondary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      /* makes it act like a background image */
      object-fit: cover;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cta-697 {
    .cs-content {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
