/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-288 {
    /* centers button */
    text-align: center;
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(10.25rem, 16.82vw, 12.25rem) calc(16 / 16 * 1rem)
      clamp(3.75rem, 7.82vw, 6.25rem);
    position: relative;
    overflow: hidden;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .cs-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: calc(700 / 16 * 1rem);
      margin: 0 auto calc(16 / 16 * 1rem);
      color: var(--headerColor);
      position: relative;
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      max-width: calc(531 / 16 * 1rem);
      margin: 0 auto;
      /* 28px - 40px */
      margin-bottom: clamp(1.75rem, 3.92vw, 2.5rem);
      color: var(--bodyTextColor);
    }

    .cs-stats-group {
      max-width: calc(522 / 16 * 1rem);
      margin: 0;
      /* 40px - 98px */
      margin-top: clamp(2.5rem, calc(6.3vw + 1rem), 6.125rem);
      /* 40px - 48px */
      margin-bottom: clamp(2.5rem, 10vw, 3rem);
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      /* 20px - 40px */
      column-gap: clamp(1.25rem, 5.9vw, 2.5rem);
    }

    .cs-item {
      list-style: none;
      width: auto;
    }

    .cs-number {
      /* 25px - 49px */
      font-size: clamp(1.5625rem, 3.8vw, 3.0625rem);
      line-height: 1.2em;
      font-weight: 700;
      color: var(--headerColor);
      display: block;
    }

    .cs-desc {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 2.1vw, 1rem);
      line-height: 1.5em;
      color: #767676;
    }

    .cs-picture {
      width: 100%;
      max-width: calc(585 / 16 * 1rem);
      /* 380px - 453px */
      height: clamp(23.75rem, 59vw, 28.3215rem);
      /* clips the img tag corners */
      overflow: hidden;
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes image act as a background image */
        object-fit: cover;
      }
    }

    .cs-waves {
      width: 100%;
      height: 30%;
      background-color: var(--primary);
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-288 {
    text-align: left;
    .cs-container {
      flex-direction: row;
      justify-content: space-between;
      column-gap: calc(100 / 16 * 1rem);
    }

    .cs-content {
      width: 40%;
      /* prevents flex-box from squishing it */
      flex: none;
      align-items: flex-start;
    }

    .cs-title,
    .cs-text {
      text-align: left;
    }

    .cs-picture {
      max-width: calc(630 / 16 * 1rem);
      /* 623px - 814px */
      height: clamp(38.9375rem, 60vw, 50.875rem);
    }

    .cs-waves {
      height: 100%;
      width: calc(40vw + 9rem);
      left: 50%;
      margin-left: calc(200 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-563 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-h3 {
      /* 25px - 31px */
      font-size: clamp(1.5625rem, 3vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: inherit;
      /* 16px - 20px */
      margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
      color: var(--headerColor);
    }

    .cs-ul {
      width: 100%;
      margin: 0 0 calc(32 / 16 * 1rem) 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
    }

    .cs-li {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 700;
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: calc(20 / 16 * 1rem);
    }

    .cs-icon {
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
    }

    .cs-picture {
      /* changes at tablet */
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      /* changes to a clamp at tablet */
      height: calc(396 / 16 * 1rem);
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-563 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .cs-picture {
      width: 46vw;
      /* 415px - 528px */
      height: clamp(25.9375rem, 50vw, 33rem);
      /* sends it to the right in the 2nd position */
      order: 2;
    }

    .cs-content {
      width: 45%;
      max-width: calc(520 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1661 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      /* 28px - 40px */
      margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
    }

    .cs-picture {
      width: 100%;
      /* 320px - 600px */
      height: clamp(18.75rem, 43vw, 37.5rem);
      display: block;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-card-group {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    .cs-item {
      list-style: none;
      text-align: left;
      padding: 0 0 calc(24 / 16 * 1rem) 0;
      margin: 0;
      border-bottom: 1px solid var(--primary);
      /* prevents border from affecting height and width */
      box-sizing: border-box;
      grid-column: span 12;

      &:last-of-type {
        padding: 0;
        border: none;
      }
    }

    .cs-number {
      font-size: calc(61 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 900;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
      color: var(--primary);
      opacity: 0.2;
      display: block;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1661 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-item {
      /* 24px - 32px */
      padding: 0 clamp(1.5rem, 3vw, 2rem);
      grid-column: span 4;
      border-bottom: 0;
      border-left: 1px solid var(--primary);

      &:last-of-type {
        padding: 0 clamp(1.5rem, 3vw, 2rem);
        border-left: 1px solid var(--primary);
      }
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-564 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-color {
      color: var(--primary);
    }

    .cs-h3 {
      /* 25px - 31px */
      font-size: clamp(1.5625rem, 3vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: inherit;
      /* 16px - 20px */
      margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
      color: var(--headerColor);
    }

    .cs-ul {
      width: 100%;
      margin: 0 0 calc(32 / 16 * 1rem) 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
    }

    .cs-li {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 700;
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: calc(20 / 16 * 1rem);
    }

    .cs-icon {
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #000;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--secondary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      overflow: hidden;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture {
      /* changes at tablet */
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      /* changes to a clamp at tablet */
      height: calc(396 / 16 * 1rem);
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-564 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .cs-picture {
      width: 46vw;
      /* 415px - 528px */
      height: clamp(25.9375rem, 50vw, 33rem);
    }

    .cs-content {
      width: 45%;
      max-width: calc(520 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1188 {
    padding: var(--sectionPadding);

    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* set text align to left if content needs to be left aligned */
      text-align: center;
    }

    .cs-card-group {
      /* changes to 1280px at desktop */
      max-width: calc(900 / 16 * 1rem);
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      justify-content: center;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-item {
      list-style: none;
      max-width: calc(368 / 16 * 1rem);
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      padding: calc(16 / 16 * 1rem);
      border: 1px solid var(--primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
    }

    .cs-picture {
      width: calc(80 / 16 * 1rem);
      height: calc(80 / 16 * 1rem);
      margin-bottom: calc(20 / 16 * 1rem);
      box-sizing: border-box;
      /* prevents border from affecting height and width */
      background-color: var(--primaryLight);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-icon {
      width: calc(50 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      margin-bottom: calc(8 / 16 * 1rem);
      color: var(--headerColor);
      text-align: center;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      text-align: center;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      font-weight: 700;
      min-width: calc(150 / 16 * 1rem);
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 calc(24 / 16 * 1rem);
      color: #fff;
      background-color: var(--primary);
      text-decoration: none;
      display: inline-block;
      position: relative;
      z-index: 1;
      text-align: center;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        border-radius: calc(4 / 16 * 1rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1188 {
    .cs-card-group {
      grid-template-columns: repeat(3, 1fr);
      gap: calc(20 / 16 * 1rem);
    }

    .cs-item {
      margin: 0;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1188 {
    .cs-card-group {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-item {
      max-width: none;
      padding: calc(32 / 16 * 1rem) calc(24 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-45 {
    padding: var(--sectionPadding);
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-image-group {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      margin: 0;
      position: relative;
      display: block;

      &:hover {
        .cs-hover-box {
          opacity: 1;
        }

        .cs-icon {
          /* return to original position */
          transform: rotateY(0);
        }

        .cs-h3 {
          opacity: 1;
          /* Return to original position */
          transform: translateY(0);
        }

        .cs-hover-box-text {
          opacity: 1;
          /* Return to original position */
          transform: translateY(0);
        }
      }
    }

    .cs-picture {
      margin: auto;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-45 {
    .cs-image-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
    }

    .cs-item {
      grid-column: span 6;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-45 {
    .cs-item {
      grid-column: span 3;
    }
  }
}

/*-- -------------------------- -->
<---          Review            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1714 {
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: calc(1312 / 16 * 1rem);
      margin: auto;
      padding: var(--sectionPadding);
      padding-bottom: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
    }

    .cs-content {
      /* set text align to center if content needs to be centrally aligned */
      text-align: left;
      width: 100%;
      /* -88px top -150px */
      margin-bottom: calc(clamp(5.5rem, 13vw, 9.375rem) * -1);
      /* 40px - 100px top & bottom */
      /* 16px - 80px left & right */
      padding: clamp(2.5rem, 9vw, 6.25rem) clamp(1rem, 7vw, 5rem);
      box-sizing: border-box;
      background-color: var(--secondary);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* aligns content to the left, set to center to centrally align */
      align-items: flex-start;
      /* 16px - 40px */
      gap: clamp(1rem, 4vw, 2.5rem);
      position: relative;
      z-index: 10;
    }

    .cs-icon {
      width: calc(80 / 16 * 1rem);
      height: auto;
    }

    .cs-quote {
      /* 20px - 31px */
      font-size: clamp(1.25rem, 2vw, 1.9375rem);
      font-weight: 700;
      line-height: 1.2em;
      max-width: calc(1000 / 16 * 1rem);
      margin: 0;
      color: #fff;
    }

    .cs-graphic {
      width: calc(233 / 16 * 1rem);
      height: auto;
      position: absolute;
      right: calc(-16 / 16 * 1rem);
      bottom: calc(-70 / 16 * 1rem);
      z-index: -1;
    }

    .cs-background {
      width: 100%;
      /* 340px - 620px */
      height: clamp(21.25rem, 47vw, 38.75rem);
      display: block;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1714 {
    .cs-content {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-697 {
    padding: var(--sectionPadding);
    background-color: var(--secondary);
    position: relative;
    z-index: 1;

    .cs-button-5 {
      color: var(--bodyTextColorWhite);
    }

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: var(--bodyTextColorWhite);
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--secondary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      /* makes it act like a background image */
      object-fit: cover;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cta-697 {
    .cs-content {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
