/*-- -------------------------- -->
<---         Core Styles        -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
  // CS-TODO: Adjust core styles to your liking. It may also be worth adding additional fonts for the header and changing the body font below.
  // This kit has also removed all instances of .cs-button outside of the root sheet, meaning you can change for any of the content flair buttons in one place.
  :root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #95af15;
    --primaryLight: #bfd456;
    --secondary: #232323;
    --secondaryLight: #424242;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

    --bodyFontFamily: Arial, Helvetica, sans-serif;
  }

  body {
    font-family: var(--bodyFontFamily);
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
  }
  .cs-topper {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    position: relative;
  }
  .cs-topper:before {
    /* decorative line */
    content: "";
    /* 16px - 32px */
    width: clamp(1rem, 3vw, 2rem);
    height: 2px;
    background: var(--secondary);
    opacity: 1;
    position: relative;
    display: block;
  }
  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  .cs-color {
    color: var(--primary);
  }

  .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }

  .cs-button-solid {
    font-size: calc(16 / 16 * 1rem);
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: calc(150 / 16 * 1rem);
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 calc(24 / 16 * 1rem);
    color: #1a1a1a;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;

    &:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }

    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

  .cs-button-5 {
    text-align: center;
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(56 / 16 * 1rem);
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.05em;
    min-width: calc(174 / 16 * 1rem);
    margin: 0;
    color: var(--headerColor);
    padding: 0 calc(24 / 16 * 1rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;

    .cs-button-text {
      display: block;
      /* we translate it up so it looks centered in the white space. The black :before element takes up space at the bottom and makes it looks off-center */
      transform: translateY(-0.125rem);
      transition: transform 0.3s, color 0.3s, letter-spacing 0.3s;
    }

    &:before {
      content: "";
      width: 100%;
      height: calc(6 / 16 * 1rem);
      background: var(--primary);
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      transition: height 0.3s;
      z-index: -1;
    }

    &:hover {
      .cs-button-text {
        color: #fff;
      }
      .cs-button-text {
        transform: translateY(0);
      }

      &:before {
        height: 100%;
      }
    }
  }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
  padding: 0;
}

/* Mobile - 767px */
@media only screen and (max-width: 47.9375rem) {
  #cs-navigation {
    .cs-top-link {
      &:nth-of-type(2) {
        display: none;
      }
    }
  }
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body {
    &.cs-open {
      overflow: hidden;
    }
  }

  #cs-navigation {
    .cs-button-5 {
      display: none;
    }

    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--bodyTextColorWhite);
    position: fixed;
    z-index: 10000;
    transition: background-color 0.3s;

    &:before {
      /* black blurred overlay */
      content: "";
      width: 0%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.6);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      opacity: 0;
      position: absolute;
      display: block;
      top: 100%;
      right: 0;
      z-index: -11;
      transition: width 0.5s, opacity 0.3s;
    }

    &.cs-active {
      &:before {
        width: 100%;
        opacity: 1;
      }

      .cs-ul-wrapper {
        opacity: 1;
        transform: scaleX(1);
        transition-delay: 0.2s;
      }

      .cs-li {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .cs-top-bar {
      width: 100%;
      background-color: var(--secondary);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-top-container {
      width: 100%;
      padding: calc(16 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calc(50 / 16 * 1rem);
    }

    .cs-top-contact {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(24 / 16 * 1rem);
    }

    .cs-top-link {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: #f7f7f7;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-link-icon {
      width: calc(16 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-top-social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-social-link {
      text-decoration: none;
      width: auto;
      height: auto;
      display: block;
    }

    .cs-social-icon {
      width: calc(20 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-container {
      width: 100%;
      padding: calc(16 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .cs-logo {
      width: calc(100 / 16 * 1rem);
      height: auto;
      margin: 0 auto 0 0;
      padding: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;

      img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
        /* places the image to the left edge of the parent */
        object-position: left;
      }
    }

    .cs-toggle {
      width: calc(56 / 16 * 1rem);
      height: calc(56 / 16 * 1rem);
      margin: 0 0 0 auto;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-active {
      .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
      }

      .cs-line2 {
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
      }

      .cs-line3 {
        bottom: 100%;
        opacity: 0;
      }
    }

    .cs-box {
      /* 24px - 28px */
      width: clamp(1.5rem, 2vw, 1.75rem);
      height: calc(16 / 16 * 1rem);
      position: relative;
    }

    .cs-line {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: var(--headerColor);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .cs-line1 {
      top: 0;
      transform-origin: center;
      transition: transform 0.5s, top 0.3s, left 0.3s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }

    .cs-line2 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: top 0.3s, left 0.3s, transform 0.5s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }

    .cs-line3 {
      bottom: 0;
      transition: bottom 0.3s, opacity 0.3s;
    }

    .cs-ul-wrapper {
      min-width: 70vw;
      height: 100vh;
      opacity: 0;
      background-color: var(--bodyTextColorWhite);
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: auto;
      right: 0;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: top right;
      transition: transform 0.4s, opacity 0.3s;
    }

    .cs-ul {
      margin: 0;
      /* 28px - 40px */
      padding: calc(48 / 16 * 1rem) clamp(1.75rem, 3vw, 2.5rem)
        calc(32 / 16 * 1rem) calc(70 / 16 * 1rem);
      width: auto;
      min-width: 40%;
      height: 65vh;
      overflow: scroll;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-end;
      gap: calc(20 / 16 * 1rem);
    }

    .cs-li {
      text-align: right;
      list-style: none;
      width: 100%;
      margin-right: 0;
      /* transition from these values */
      transform: translateX(-2.5rem);
      opacity: 0;
      transition: transform 0.6s, opacity 0.9s;

      &:nth-of-type(1) {
        transition-delay: 0.05s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.15s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.25s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.35s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.4s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.45s;
      }
    }

    .cs-li-link {
      /* 16px - 24px */
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      line-height: 1.2em;
      text-decoration: none;
      margin: 0;
      color: var(--headerColor);
      display: inline-block;
      position: relative;

      &:before {
        /* active state underline */
        content: "";
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: none;
        bottom: calc(-2 / 16 * 1rem);
        left: 0;
      }

      &.cs-active {
        color: var(--secondary);
        &:before {
          display: block;
        }
      }
    }

    .cs-button-solid {
      display: none;
    }
  }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  #cs-navigation {
    .cs-dropdown {
      position: relative;
      color: var(--bodyTextColorWhite);
      &.cs-active {
        .cs-drop-ul {
          height: auto;
          opacity: 1;
          visibility: visible;
          margin: calc(12 / 16 * 1rem) 0 0 0;
          padding: calc(24 / 16 * 1rem);
          transform: scale(1);
        }

        .cs-drop-link {
          opacity: 1;
        }
      }

      .cs-li-link {
        position: relative;
        transition: opacity 0.3s;
      }
    }

    .cs-drop-icon {
      width: calc(15 / 16 * 1rem);
      height: auto;
      position: absolute;
      top: 50%;
      right: calc(-20 / 16 * 1rem);
      transform: translateY(-50%);
    }

    .cs-drop-ul {
      width: 100%;
      height: 0;
      margin: 0;
      padding: 0 calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
      box-sizing: border-box;
      background-color: var(--primary);
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-end;
      gap: calc(12 / 16 * 1rem);
      transform: scale(0);
      transform-origin: top right;
      transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s,
        transform 0.3s, visibility 0.3s;
    }

    .cs-drop-li {
      list-style: none;
      text-align: inherit;
    }

    .cs-li-link {
      &.cs-drop-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 2vw, 1.25rem);
        color: #fff;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    .cs-dropdown {
      position: relative;
      &:hover {
        cursor: pointer;
        .cs-drop-ul {
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
        }

        .cs-drop-li {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .cs-drop-icon {
      width: calc(15 / 16 * 1rem);
      height: auto;
      display: inline-block;
    }

    .cs-drop-ul {
      min-width: calc(200 / 16 * 1rem);
      margin: 0;
      padding: 0;
      background-color: #1a1a1a;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
      border-bottom: 5px solid var(--primary);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 100%;
      z-index: -100;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    }

    .cs-drop-li {
      list-style: none;
      font-size: calc(16 / 16 * 1rem);
      text-decoration: none;
      opacity: 0;
      width: 100%;
      height: auto;
      color: var(--bodyTextColorWhite);
      display: block;
      transform: translateY(-0.625rem);
      transition: opacity 0.6s, transform 0.6s;

      &:nth-of-type(1) {
        transition-delay: 0.05s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.15s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.25s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.35s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.4s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.45s;
      }
      &:nth-of-type(10) {
        transition-delay: 0.5s;
      }
      &:nth-of-type(11) {
        transition-delay: 0.55s;
      }
      &:nth-of-type(12) {
        transition-delay: 0.6s;
      }
      &:nth-of-type(13) {
        transition-delay: 0.65s;
      }
    }

    .cs-li-link {
      &.cs-drop-link {
        font-size: calc(16 / 16 * 1rem);
        white-space: nowrap;
        line-height: 1.5em;
        text-decoration: none;
        width: 100%;
        padding: calc(12 / 16 * 1rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        color: var(--bodyTextColorWhite);
        display: block;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
          color: var(--primary);
          background-color: #f7f7f7;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    padding: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--bodyTextColorWhite);
    position: fixed;
    z-index: 10000;

    .cs-top-bar {
      width: 100%;
      background-color: var(--secondary);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-top-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      padding: calc(16 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calc(50 / 16 * 1rem);
    }

    .cs-top-contact {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(24 / 16 * 1rem);
    }

    .cs-top-link {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(8 / 16 * 1rem);

      &:hover {
        text-decoration: underline;
      }
    }

    .cs-link-icon {
      width: calc(16 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-top-social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-social-link {
      text-decoration: none;
      width: auto;
      height: auto;
      display: block;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-0.25rem);
      }
    }

    .cs-social-icon {
      width: calc(20 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-container {
      width: 100%;
      /* same height as the cs-ul-wrapper */
      height: calc(93 / 16 * 1rem);
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      padding: 0 calc(16 / 16 * 1rem);
      /* prevents padding from affectin gheight */
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: calc(24 / 16 * 1rem);
      position: relative;
    }

    .cs-toggle {
      display: none;
    }

    .cs-logo {
      width: 18.4%;
      max-width: calc(197 / 16 * 1rem);
      height: calc(60 / 16 * 1rem);
      /* margin-right auto pushes everything away from it to the right */
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;

      img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
      }
    }

    .cs-ul-wrapper {
      /* absolutely positioned to be dead center */
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .cs-ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 20px - 36px */
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }

    .cs-li {
      list-style: none;
      padding: calc(36 / 16 * 1rem) 0;
      /* prevent flexbox from squishing it */
      flex: none;
    }

    .cs-li-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 0.6vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
      position: relative;
      transition: color 0.3s;

      &:before {
        content: "";
        width: 0%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -2px;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        color: var(--primary);
        &:before {
          width: 100%;
        }
      }

      &.cs-active {
        color: var(--primary);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(32 / 16 * 1rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: #1a1a1a;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-nav-button {
      line-height: calc(46 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer-1390 {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cs-top {
      width: 100%;
      margin-bottom: calc(40 / 16 * 1rem);
      /* 24px - 64px */
      padding-bottom: clamp(1.5rem, 5vw, 4rem);
      border-bottom: 1px solid #484848;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 24px - 40px */
      gap: clamp(1.25rem, 4vw, 2.5rem);
    }

    .cs-ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      /* 24px - 36px */
      column-gap: clamp(1.5rem, 4vw, 2.25rem);
      row-gap: calc(8 / 16 * 1rem);
    }

    .cs-li {
      list-style: none;
    }

    .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: #bababa;
      display: block;
      transition: color 0.3s;

      &:hover {
        color: var(--primary);
      }
    }

    .cs-logo {
      width: 100%;
      max-width: calc(209 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-logo-img {
      width: 100%;
      height: auto;
      display: block;
    }

    .cs-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-social {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-social-li {
      list-style: none;
    }

    .cs-social-link {
      width: calc(32 / 16 * 1rem);
      height: calc(32 / 16 * 1rem);
      background-color: var(--bodyTextColorWhite);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--primary);

        .cs-social-icon {
          opacity: 1;
          filter: grayscale(1) brightness(1000%);
        }
      }
    }

    .cs-social-icon {
      width: calc(12 / 16 * 1rem);
      height: auto;
      opacity: 0.6;
      display: block;
      transition: opacity 0.3s;
    }

    .cs-copyright {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: #bababa;
      display: block;
    }

    .cs-copyright-link,
    .cs-separater {
      font-size: calc(16 / 16 * 1rem);
      text-decoration: none;
      color: #bababa;
      transition: color 0.3s;

      &:hover {
        color: var(--primary);
      }
    }

    .cs-separater {
      margin: 0 calc(16 / 16 * 1rem);
      display: inline-block;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-1390 {
    .cs-top {
      align-items: flex-start;
    }

    .cs-bottom {
      flex-direction: row;
      justify-content: center;
    }

    .cs-flex {
      margin: 0 auto;
    }

    .cs-social {
      /* sends it to the right in the 3rd position */
      order: 3;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #footer-1390 {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
